# Gatsby build output
public/
.cache/

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.*
.env.development
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store