# Node dependencies
node_modules/

# Vite cache
.vite/

# Optional: if using pnpm
.pnpm-debug.log

# Optional: if using yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn.lock

# Optional: if using npm
package-lock.json
npm-debug.log

# Build output
dist/

# Env files
.env
.env.*.local

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
