# MkDocs build output
/site/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/

# Jupyter Notebook checkpoints (if using)
.ipynb_checkpoints/

# VSCode
.vscode/

# Mac
.DS_Store

# PyCharm
.idea/
